# general
package-lock.json
node_modules

# backend
backend/node_modules
backend/.env
backend/dist
backend/serviceAccountKey.json

# frontend
frontend/node_modules
frontend/.env

# firebase
.firebase/
functions/node_modules/
functions/lib/
functions/.env
functions/serviceAccountKey.json
