PORT="sua_porta"

CLIENT_URL="sua_client_url"

JWT_SECRET="sua_jwt_secret"
TOKEN_SECRET="seu_token_secret"
REFRESH_TOKEN_SECRET="seu_refresh_token_secret"

ENVIRONMENT="seu_ambiente_da_aplicação = 'local' ou 'poduction'"

# Para conseguir rodar localmente, será necessário ter as credenciais do Firebase,
# porém tais credenciais são obtidas apenas pelo responsável do projeto.